<%= form_with model: board do |f| %>
  <div>
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body, '本文' %>
    <%= f.text_area :body , rows: 10 %>
  </div>
  <%= f.submit '保存' %>
<% end %>


