<h1>掲示板</h1>
<% if user_signed_in? %>
  <div>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <%= link_to '新規作成', new_board_path %>
  </div>
<% else %>
  <div>
    <%= link_to "ログイン", new_user_session_path %>
    <%= link_to "新規登録", new_user_registration_path %>
  </div>
<% end %>
<% if flash[:notice] %>
  <div><%= flash[:notice] %></div>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>作成者</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.id %></td>
        <td><%= board.title %></td>
        <td><%= board.user.username %></td>
        <td><%= board.updated_at.strftime('%Y/%m/%-d %I:%M%p') %></td>
        <td><%= link_to '詳細', board %></td>
        <td>
          <% if user_signed_in? && current_user.id == board.user.id %>
            <%= link_to 'x', board, method: :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @boards %>
